<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testCachedFormatting()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022932</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testFormatting()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.798110</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testIndent()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.167300</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testInferring()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.416740</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testNumberFormatting()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034290</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testRedundantSelf()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039390</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testTokenizing()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.570430</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testUncachedFormatting()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.597050</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testWorstCaseFormatting()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.363400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testWorstCaseIndent()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.317710</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testWorstCaseNumberFormatting()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.043530</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
			<key>testWorstCaseRedundantSelf()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.186840</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Aug 2018 at 15:43:52</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
