<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>IDEFrameworks</string>
	<key>BuildVersion</key>
	<string>23</string>
	<key>CFBundleShortVersionString</key>
	<string>12.2</string>
	<key>CFBundleVersion</key>
	<string>17535</string>
	<key>ProductBuildVersion</key>
	<string>12B45b</string>
	<key>ProjectName</key>
	<string>IDEFrameworks</string>
	<key>SourceVersion</key>
	<string>17535000000000000</string>
</dict>
</plist>
