<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>IDEFrameworks</string>
	<key>BuildVersion</key>
	<string>8</string>
	<key>CFBundleShortVersionString</key>
	<string>12.3</string>
	<key>CFBundleVersion</key>
	<string>17715</string>
	<key>ProductBuildVersion</key>
	<string>12C33</string>
	<key>ProjectName</key>
	<string>IDEFrameworks</string>
	<key>SourceVersion</key>
	<string>17715000000000000</string>
</dict>
</plist>
