name: Build for Linux

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref to build (branch, tag or SHA)'
        required: false
        default: 'master'

jobs:
  build:
    name: Build SwiftFormat for Linux
    runs-on: ubuntu-latest
    container: swift:5.4-focal
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: Build it
        run: |
          swift build --configuration release
          SWIFTFORMAT_BIN_PATH=`swift build --configuration release --show-bin-path`
          mv $SWIFTFORMAT_BIN_PATH/swiftformat "${HOME}/swiftformat_linux"
          ${HOME}/swiftformat_linux version
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: swiftformat_linux
          path: ~/swiftformat_linux
          retention-days: 5
